<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style_aulas.css">
    <title>Lista de Agendamentos</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>
<form>
<header>
    <img src="./images/bramur2.png" alt="">
</header>
<h1>Lista de Agendamentos</h1>
<div style="overflow-x: auto;">
<table class="tabela">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
        <th>Data</th>
        <th>Modalidade</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="agendamento : ${agendamentos}">
        <td th:text="${agendamento.nome}"></td>
        <td th:text="${agendamento.idade}"></td>
        <td th:text="${agendamento.diaEHora}"></td>
        <td th:text="${agendamento.modalidade}"></td>
    </tr>

    </tbody>
</table>
    <a href="index"><button type="button">Novo Agendamento</button></a>
</div>

</form>
 </body>
</html>
